*.pth filter=lfs diff=lfs merge=lfs -text
model.onnx filter=lfs diff=lfs merge=lfs -text
model_float32.onnx filter=lfs diff=lfs merge=lfs -text
model_fp16.onnx filter=lfs diff=lfs merge=lfs -text
model_int8.onnx filter=lfs diff=lfs merge=lfs -text
